.flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
 position: relative;
 display: flex;
 overflow-x: hidden;
}

.appContainer {
  min-width: 100vw;
  position: relative;
  left: -60vw;
  box-shadow: -3px 5px 10px var(--light-gray);
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
  left: 0;
  height: 97vh;
}