.container {
  composes: flexCentered from './App.module.css';
  flex-direction: column;
  border: 1px solid red;
  min-height: 91vh;
}

.formContainer {
  border: 1px solid green;
  width: 100%;
  padding: 0 1em;
  max-width: 400px;
}

.title {
  font-size: 2em; 
  margin-bottom: 1em;
}

.field {
  margin-top: 1em;
}

.button {
  width: 100%;
  padding: 1em;
  background-color: #000;
  color: #fff;

}