.container {
  composes: flexCentered from './App.module.css';
  flex-direction: column;
  min-height: 100vh;
}

.formContainer {
  width: 100%;
  padding: 0 1em;
  max-width: 400px;
  composes: flexCentered from './App.module.css';
  flex-direction: column;
}

.title {
  font-size: 2em; 
  margin-bottom: 1em;
}

.button {
  margin-top: 1em;
  font-size: 1.1em;
  padding: .7em 1.5em;
  background-color: var(--orange);
  color: #fff;
  border: 1px solid var(--orange);
  border-radius: 20px;
}

.errors {
  color: var(--orange);
  text-align: center;
  padding-top: 1rem;
}