:root {
  --back-color: #f7f5fa;
  --light-gray: #d9d9d9;
  --light-black: #333;
  --red: #ff1919;
}

#root {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: var(--back-color);
}