.container {
  height: 91vh;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.postImage {
  width: 100%;
  height: 40vh;
  max-height: 300px;

}

.carouselContainer {
  height: 100%;
}

.carouselItem {
  box-sizing: border-box;
  flex: none;
  border: 1px solid var(--light-gray);
  max-width: calc(80vw - 5px);
  margin-left: 1rem;
}

.carouselDots {
  bottom:15vh;
}