.container {
  height: 91vh;
}

.post {
  color: var(--light-black);
  text-decoration: none;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.titleFavorite {
  margin-right: 10px;
}

.postTitle {
  margin-bottom: .5em;
}

.postLocation {
  text-align: center;
  border-left: 1px solid var(--light-gray);
  padding-left: 10px;
}

.postFavorite {
  font-weight: 100;
  color: #000;
}

.favoriteCounter {
  font-weight: 700;
  color: var(--light-black);
  margin-left: .5em;
}

.favoriteIcon {
  color: var(--light-gray);
}

.activeFavorite{
  color:  var(--red);
}

.locationLabel {
  font-size: .8em;
  padding-top: .1em;
  color: gray;
}

.postImage {
  width: 100%;
  height: 300px;

}

.carouselContainer {
  box-sizing: border-box;
  height:calc(100% - 2rem);
  align-items: flex-start;
  padding-top: 2em;
}

.carouselItem {
  flex: none;
  margin: 0 10px;
  max-width: calc(80vw - 7px);
  border: none;
  background-color: #fff;
  box-shadow: 0 7px 15px var(--light-gray);
  
  font-weight: 500;
}

.carouselDots {
  bottom:10vh;
}
